    <style>
        .my-div {
            width: 30%;
            height: 30%;
            background-color: rgb(123, 177, 212);
            border: 5px solid #498e97;
            border-radius: 20px;
            cursor: pointer;
            margin: 10px;

        }
    </style>
<body>
    <div class="my-div" id="karshnas1" onclick="moveDiv1()">
        <a><img src="/images/karshnas.png"></a>
        <div>کارشناس اول</div>
    </div>
    <div class="my-div" id="karshnas2" onclick="moveDiv2()">
        <a><img src="/images/karshnas.png"></a>
        <div>کارشناس دوم</div>
    </div>
    <div class="my-div" id="karshnas3" onclick="moveDiv3()">
        <a><img src="/images/karshnas.png"></a>
        <div>کارشناس سوم</div>
    </div>

</body>

