<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>سامانه</title>
    <style>
        @font-face {
            font-family: 'Vazir';
            src: url('fonts/BYekan.woff2') format('woff2'),
                url('fonts/BYekan.woff') format('woff');
        }

        * {
            font-family: "Vazir", Tahoma, sans-serif;
            direction: rtl;
        }

        body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .container {
            display: grid;
            grid-template-areas:
                " header header header"
                "  main1 main main2"
                "footer footer footer";
            align-self: auto;
            grid-template-rows: 100px 1fr 60px;
            grid-template-columns: 1fr 2fr 1fr;
            height: 100vh;

        }

        header {
            grid-area: header;
            color:white;
            background:linear-gradient(135deg, #74b0b4, #84fab0);
        }

        header h2 {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        main {
            grid-area: main;
            width: auto;
            height:auto;
            padding: 40px;
            background: #f1eaea;
            border-radius: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

        }

        main  div h2{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        footer {
            grid-area: footer;
            background:linear-gradient(135deg, #74b0b4, #84fab0);
            color: white;
            text-align: center;
            padding: 10px;
        }


     </style>
</head>

<body>
    <div class="container">
        <header>
            <h2>سامانه تکریم ارباب رجوع </h2>
        </header>
        <main>
            <div>
                <h2 id="title">خوش آمدید</h2>
                <h2 id="title">لطفادر صورتی که قبلا ثبت‌نام کردید<a href="/login.ejs" id="login">وارد سامانه </a>شوید </h2>
                <h2 id="title">در غیر این صورت در <a href="/register.ejs" id=" rejes">سامانه ثبت نام </a>کنید </h2>
            </div>

        </main>
        <footer>
            <p id="pfoo">تمامی حقوق محفوظ است © 1404</p>
        </footer>
    </div>
</body>

</html>