@font-face {
    font-family: 'Vazir';
    src: url('fonts/BYekan.woff2') format('woff2'),
        url('fonts/BYekan.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Vazir;
}

.container {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    align-self: auto;
    grid-template-rows: 70px 1fr 60px;
    grid-template-columns: 1fr;
    height: 100vh;

}

nav {

    grid-area: header;
    position: relative;
    border-radius: 15px;
    width: 100%;
    background-color: #3f8683;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    color: rgb(233, 229, 229);
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.menu {
    display: flex;
    gap: 15px;

}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.menu a:hover {
    color: #c52e29;
}

.menu-icon {
    display: none;
    font-size: 28px;
    color: white;
    cursor: pointer;
}

main {
    grid-area: main;
    background-color: #ffffff;
    padding: 5px;
    text-align: center;
    border: 5px solid #498e97;

}

footer {
    grid-area: footer;
    background: linear-gradient(135deg, #74b0b4, #84fab0);
    color: white;
    text-align: center;
    padding: 10px;
}

#content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

@media (max-width: 768px) {
    .menu {     
        position: absolute; /* تغییر از relative به absolute */
        top: 70px;           /* پایین nav */
        left: 0;
        width: 100%;         /* عرض کامل */
        background-color: #34495e;
        direction: rtl;
        flex-direction: column;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.4s ease-out;
        z-index: 1000;       /* روی سایر عناصر قرار گیرد */
        border-radius: 0 0 10px 10px;
    }

    .menu a:hover {
        color: #c52e29;
    }

    .menu {
        display: flex;
        gap: 5px;
    }

    .menu a {
        padding: 5px;
        border-top: 1px solid #0dd17f;
    }

    .menu.show {
        max-height: 250px;
        transition: max-height 0.4s ease-in;
    }

    .menu-icon {
        display: block;
    }
}

.moved {
    transform: scale(0.8);
}

.user-info {
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    padding: 6px 10px;
    border-radius: 8px;
    margin: 0 10px;
    font-family: sans-serif;
    font-size: 14px;
    color: #333;
    gap: 6px;
}

.user-info .label {
    font-weight: bold;
    color: #444;
}

.user-info .value {
    color: #007acc;
    direction: ltr;
    font-weight: bold;
}
